@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


html, body{
    width: 100%;
    height: 100%;
    position: relative;
}

.embed-frame{
    min-height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    .brand{
        img{
            width: 300px;
        }
    }

    iframe{
        min-width: 60vw;
        min-height: calc(60vw / 16 * 9);
    }

    @keyframes act {
        0%{
            transform: translateY(0px);
        }

        50%{
            transform: translateY(-50px) scale(2);
        }

        100%{
            transform: translateY(0px);
        }
    }

    .icons{
        img{
            width: 30px;
            margin-right: 10px;
            margin-top: 5px;
    
            &:hover{
                transform: scale(1.2);
                cursor: pointer;
                
            }
        }
    }

    .animate{
        animation: act 1s;
    }
}

.ask-question{
    position: absolute;
    padding: 5px 10px;
    bottom: 5px;
    left: 50%;
    margin-left: -65px;

    &:hover{
        background: #f4f4f4;
        border-radius: 30px;
        cursor: pointer;
    }
}

.left-buttons{
    position: absolute;
    bottom: 10px;
    left: 10px;

    .btn{
        margin-left: 20px;
        border-radius: 30px;
        padding: 5px 10px;
    }
}

.right-buttons{
    position: absolute;
    bottom: 10px;
    right: 10px;

    .btn{
        margin-right: 20px;
        border-radius: 30px;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 1200px){

    .embed-frame{
        min-height: 90%;

        iframe{
            min-width: 70vw;
            min-height: calc(70vw / 16 * 9);
        }
    }

}

@media only screen and (max-width: 900px){

    .embed-frame{
        min-height: 80%;

        iframe{
            min-width: 80vw;
            min-height: calc(80vw / 16 * 9);
        }
    }

    .right-buttons{
        position: absolute;
        bottom: 0px;
        right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: right;
    
        .btn{
            margin-bottom: 10px;
            margin-right: 0;
            border-radius: 30px;
            padding: 5px 10px;
        }
    }

}

@media only screen and (max-width: 500px){

    .embed-frame{
        min-height: 70%;

        iframe{
            min-width: 95vw;
            min-height: calc(95vw / 16 * 9);
        }
    }

    .left-buttons{
        bottom: 30px;
        left: 10px;

        .btn{
            margin-left: 0;
        }
    }

    .right-buttons{
        bottom: 20px;
        right: 10px;
    }

}