@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100vh;
}

nav {
  background: white;
  height: 70px;
}

nav .nav-item {
  margin-right: 20px;
}

nav .dropdown-toggle, nav i {
  color: black !important;
  padding-top: 10px;
}

nav .dropdown-menu {
  border: none;
  padding-bottom: 0;
  margin-right: -20px;
}

nav .dropdown-menu .dropdown-item {
  padding: 10px 20px;
}

nav svg {
  font-size: 25px;
}

.main-content {
  height: 100vh;
  overflow: hidden;
  padding-top: 70px;
  background: #f4f4f4;
}

.item-list {
  background: #ffffff;
}

.item-list .list-group-item {
  text-align: center;
  font-weight: 700;
  padding: 20px;
}

.item-section {
  padding: 50px !important;
  overflow-y: auto;
  height: 100%;
}

.item-section #tab-today-event .table-responsive, .item-section #tab-upcoming-event .table-responsive, .item-section #tab-past-event .table-responsive, .item-section #tab-search-event .table-responsive, .item-section #tab-participant .table-responsive {
  border-radius: 15px;
}

.item-section #tab-today-event table, .item-section #tab-upcoming-event table, .item-section #tab-past-event table, .item-section #tab-search-event table, .item-section #tab-participant table {
  background: white;
  border-radius: 15px;
}

.item-section #tab-today-event table th, .item-section #tab-today-event table td, .item-section #tab-upcoming-event table th, .item-section #tab-upcoming-event table td, .item-section #tab-past-event table th, .item-section #tab-past-event table td, .item-section #tab-search-event table th, .item-section #tab-search-event table td, .item-section #tab-participant table th, .item-section #tab-participant table td {
  border-top: none;
  word-wrap: break-word;
  padding: 15px;
}

.item-section #tab-today-event table thead, .item-section #tab-upcoming-event table thead, .item-section #tab-past-event table thead, .item-section #tab-search-event table thead, .item-section #tab-participant table thead {
  background: var(--red);
  color: white;
}

.item-section #tab-today-event table thead th, .item-section #tab-upcoming-event table thead th, .item-section #tab-past-event table thead th, .item-section #tab-search-event table thead th, .item-section #tab-participant table thead th {
  font-size: 16px;
}

.item-section #tab-today-event table tbody th, .item-section #tab-today-event table tbody td, .item-section #tab-upcoming-event table tbody th, .item-section #tab-upcoming-event table tbody td, .item-section #tab-past-event table tbody th, .item-section #tab-past-event table tbody td, .item-section #tab-search-event table tbody th, .item-section #tab-search-event table tbody td, .item-section #tab-participant table tbody th, .item-section #tab-participant table tbody td {
  font-weight: 600;
  color: #292c40;
}

.item-section #tab-today-event table tbody tr, .item-section #tab-upcoming-event table tbody tr, .item-section #tab-past-event table tbody tr, .item-section #tab-search-event table tbody tr, .item-section #tab-participant table tbody tr {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.item-section #tab-report .report-card, .item-section #tab-home .report-card {
  position: relative;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 30px;
  margin-bottom: 40px;
  color: white;
}

.item-section #tab-report .report-card h5, .item-section #tab-home .report-card h5 {
  margin-bottom: 40px;
}

.item-section #tab-report .report-card p, .item-section #tab-home .report-card p {
  font-size: 20px;
  font-weight: 700;
}

.item-section #tab-report .report-card svg, .item-section #tab-report .report-card i, .item-section #tab-home .report-card svg, .item-section #tab-home .report-card i {
  position: absolute;
  right: -10px;
  bottom: 0;
  font-size: 120px;
  opacity: 0.3;
}

.item-section #tab-event-details .card {
  border: none;
}

.item-section #tab-event-details .card .card-header {
  background: white;
}

.item-section #tab-event-details .card .card-header h2:focus, .item-section #tab-event-details .card .card-header h2:active, .item-section #tab-event-details .card .card-header .btn:focus, .item-section #tab-event-details .card .card-header .btn:active, .item-section #tab-event-details .card .card-header button:focus, .item-section #tab-event-details .card .card-header button:active {
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.item-section #tab-event-details .card .card-header .btn {
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.item-section #tab-event-details .card .card-body {
  padding: 30px;
}

form .form-group {
  padding: 10px 0;
}

form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form label {
  font-weight: 700;
}
/*# sourceMappingURL=dashboard.css.map */